.headband{
    width: 100%;
    height: 75px;
    background-color: red;
    text-align: center;
    margin: 0px;
}
h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    stroke-width: 1px;
    -webkit-text-stroke: black 0.5px;
}
.moto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-bottom: 0px;
    position: relative;
    top: -18px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: black 0.2px;
}
.signs{
    text-align: center;
    padding: 30px;
}
.dis1{
    display: inline-block;
}
.dis2{
    display: inline-block;
}
.signb{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: red;
    border: 0px;
}
.signb2{
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 8px;
    padding-bottom: 8px; 
    color: white; 
    background-color: red;
    border: 0px;
}
.signb:hover{
    cursor: pointer;
}
.signb2:hover{
    cursor: pointer;
}
.bbox{
    text-align: center;
    border-width: 0px;
    border-color: rgb(37, 36, 36);
    border-style: solid;
    width: 100%;
    padding: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    top: -5px;
    background-color: rgb(255, 238, 238);
    margin-top: -8px;
}
.content{
    border-color: black;
    border-width: 0px;
    border-style: solid;
    padding: 2px;
    width: 390px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: white;
    box-shadow: rgb(61, 61, 61) 0 0 1px 1px;
    border-radius: 5px;
}
.forpics{
    border-color: red;
    border-width: 0px;
    border-style: solid;
    width: 385px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

.fpics{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.text{
    display: inline-block;
    margin-top: -15px;
}
.caption{
    display: inline-block;
    padding-left: 5px;
    margin-top: -30px;
}
.written{
    color: black;
    font-size: 17px;
    font-weight: normal;
    border: 1px;
}
.username{
    padding-left: 5px;
    margin-bottom: -10px;
    margin-top: -10px;
}
.usrnm{
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    -webkit-text-stroke: black 0px;
    color: red;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.userid{
    font-size: 15px;
    border: solid 1px ;
    padding-top: 8px;
    padding-bottom: 8px;
    outline-color: red;
}
